.container{
    display: flex;
    justify-content: center;
}

.mainDiv{
    margin-top: 20px;
    width: 900px;
    background-color: white;
    padding: 10px;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor:pointer;
}

.btn:hover{
    background: var(--orange);
    color: #fff;
}

.btn {
    display: block;
    text-align: center;
    margin: 1rem;
}


.loginForm{
    position: absolute;
    left: 50%; /* Move the left edge to the horizontal center */
    transform: translateX(-50%); 
    display: none;
    width: 50rem;
    max-height:70rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.loginForm.active{
    right: 2rem;
    display: block;
    transition: .4s linear;
    width: 50rem;
    max-height:70rem;
}

.loginFormH3{
    font-size:2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.inputBox{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem ;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.inputBoxEmail{
    width: 100%;
    margin: .7rem 0;
    background: gray;
    color: #fff;
    border-radius: .5rem ;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: none;
}

.inputBoxButton{
  
    width: 100%;
   margin-top: 3rem;
   margin-bottom: 0.7rem;
   background: lightgreen;
    border-radius: .5rem ;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.inputBoxButton:hover{
  
   background: green;
   color: var(--black);
   color: white;
}

.inputBoxCancelButton{
    width: 100%;
   margin-top: 3rem;
   margin-bottom: 0.7rem;
   background: lightgray;
    border-radius: .5rem ;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    color: black;
    text-transform: none;
}

.inputBoxCancelButton:hover{
    background: gray;
    color: white;
 }
 

.inputBoxPtag{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.inputBoxAtag{
    color: var(--orange);
    text-decoration: underline;
}

.inputBoxTextArea{
    width: 100%;
    height: 150px;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem ;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}


.success{
    color: green;
    font-size: 15px;
}


.notSuccess{
    color: red;
    font-size: 15px;
}


.buttons{
    display: flex;
    gap:20px;
    justify-content: space-between;
}